@import '../colors/Colors.scss';

.cardProcuct{

  
  display: flex;
  flex-direction: column;
  width: 400px;

  img{
    width: 100%;
    max-height: 100%;
  }

  .descricaoProduto{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $cor-linhas;
    border-right: 1px solid $cor-linhas;
    border-bottom: 1px solid $cor-linhas;

    display: flex;
    justify-content: space-between;
  }


  @media screen and (max-width: 930px) {
    min-width: 48%;
    
  }


  @media screen and (max-width: 730px){
    .descricaoProduto{
      justify-content: center;
      align-items: initial;
      flex-direction: column;
      gap: 15px;
    }
  }
}